.divBlock5{

    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.934);
    color: white;
    margin: auto;
}

.menuBlock5 ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.menuBlock5 ul li a{
    text-decoration: none;
    color: white;
}

.menuBlock5 ul li{
    list-style: none;
}

img{
    height: 60px;
    width: 100px;
    padding: 20px;
}